<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ccrent.mapper.CompanyMapper">


<!-- ★★★★★★★★★★★★★★★★★★★★               유저 페이지 시작              ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->

	<!-- 승인목록 + 페이징처리 + 검색기능 -->
	<select id="selectAll"
		resultType="kr.co.ccrent.dto.CompanyDTO">
 			<![CDATA[
 			select *
 			from company
 			where comp_status > 0 and comp_name like CONCAT('%',#{keyword},'%')
 			limit #{pageStart},#{perPageNum}
 			]]>
	</select>
	
	
	<!-- 승인목록 페이징처리 카운트 + 검색기능 -->
	<select id="selectAll_Count" resultType="int">
	 		<![CDATA[
	 		select count(comp_status)
	 		from company
	 		where comp_status > 0 and comp_name like CONCAT('%',#{keyword},'%')
	 		]]>
	</select>
	<!-- 작성하기 기능 -->
	<insert id="register" parameterType="kr.co.ccrent.dto.CompanyDTO">
		insert into company(comp_id,comp_name,comp_addr,comp_phone,comp_pic,comp_pic_email,comp_status)
 		values (#{comp_id},#{comp_name},#{comp_addr},#{comp_phone},#{comp_pic},#{comp_pic_email},0) 	
	</insert>
	
	
<!-- ★★★★★★★★★★★★★★★★★★★★               유저 페이지 끝              ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->
	<!-- 어드민 승인 목록 조회 + 페이징처리 + 검색기능 -->
	<select id="selectAll3"
		resultType="kr.co.ccrent.dto.CompanyDTO">
 			<![CDATA[
 			select *
 			from company
 			where comp_status > 0 and comp_name like CONCAT('%',#{keyword},'%')
 			limit #{pageStart},#{perPageNum}
 			]]>
	</select>
	
	
	<!-- 어드민 승인목록 페이징처리 카운트 + 검색기능 -->
	<select id="selectAll3_Count" resultType="int">
	 		<![CDATA[
	 		select count(comp_status)
	 		from company
	 		where comp_status > 0 and comp_name like CONCAT('%',#{keyword},'%')
	 		]]>
	</select>

	
	<!-- 어드민 대기목록 조회 + 페이징처리 + 검색기능 -->
	<select id="selectAll2"
		resultType="kr.co.ccrent.dto.CompanyDTO">
 			<![CDATA[
 			select *
 			from company
 			where comp_status = 0 and comp_name like CONCAT('%',#{keyword},'%')
 			limit #{pageStart},#{perPageNum}
 			]]>
	</select>
	
	
	<!-- 어드민 대기목록 페이징처리 카운트 + 검색기능 -->
	<select id="selectAll2_Count" resultType="int">
	 		<![CDATA[
	 		select count(comp_status)
	 		from company
	 		where comp_status = 0 and comp_name like CONCAT('%',#{keyword},'%')
	 		]]>
	</select>
	<select id="getAll2" resultType="kr.co.ccrent.dto.CompanyDTO">
		select * from company
		where comp_status = 0
 		order by comp_id  desc 
	</select>
	
	
	
	<!-- status가 1인 ( 승인된 ) 목록 조회 -->
	<select id="getAll3" resultType="kr.co.ccrent.dto.CompanyDTO">
		select * from company
		where comp_status = 1
 		order by comp_id  desc 
	</select>
	
	
	
	<select id="get" parameterType="java.lang.Integer" resultType="kr.co.ccrent.dto.CompanyDTO">
		select * 
		from company 
		where comp_id =#{comp_id}
	</select>
	
	<!-- status 1로 수정 ( 승인 ) -->
	<update id="modify" parameterType="kr.co.ccrent.dto.CompanyDTO" >
	update company
	set comp_status = 1
	where
	comp_id = #{comp_id}
	</update>

	<!-- 제휴신청 거절하기 ( 삭제 ) -->
	<delete id="remove" parameterType="java.lang.Integer">
		delete from
		company
		where comp_id = #{comp_id}
	</delete>
</mapper>